.col{
    margin-bottom: 50px;
}

.footerby{
    font-size: 12px;
    color: #6c6d7b;
}

p{
    color: white;
}

h6{
    color: white;
}

.footerup{
    color: #d6d6dd;
}

.inputform{
    all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 40px;
  width: 400px;
  padding: 6px 10px;
  
}

.formup{
    background-color: #1c1c24;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px;
}

.btnbtn{
    all: unset;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 18px;
    background-color: #4acd8d;
    color: white;
    
}

.svg{
    color: #fff;
  fill: currentColor;
  width: 40px;
  height: 25px;
  padding: 6px;
  margin-left: 7px;
  margin-top: 2px;
}
